<%= form_with(model: habit_entry) do |form| %>
  <% if habit_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(habit_entry.errors.count, "error") %> prohibited this habit_entry from being saved:</h2>

      <ul>
        <% habit_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :habit_id, value: habit_entry.habit_id %>

  <div>
    <%= form.label :entry_date, style: "display: block" %>
    <%= form.date_field :entry_date, value: Date.today, min: Date.today %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

 <div>
  <%= form.label :note %>
  <%= form.text_area :note, rows: 3 %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
