<%= form_with(model: habit_entry) do |form| %>
  <% if habit_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(habit_entry.errors.count, "error") %> prohibited this habit_entry from being saved:</h2>

      <ul>
        <% habit_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :habit_id, style: "display: block" %>
    <%= form.number_field :habit_id %>
  </div>

  <div>
    <%= form.label :entry_date, style: "display: block" %>
    <%= form.date_field :entry_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
