<section class="d-flex align-items-center" aria-label="Hero Section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
        <div>
          <h1>HabitBuddy</h1>
          <h2 class="text-body">Trust the process. Celebrate your progress.</h2>
          <%= link_to 'Sign up today!', new_user_registration_path, class: 'btn btn-dark mt-4', role: 'button' %>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2" data-aos="fade-up">
        <img src="<%= asset_path 'cuterhippo-chatbubble.png' %>" class="img-fluid" alt="Cute hippo with a chat bubble">
      </div>
    </div>
  </div>
</section>

<hr>

<%= render 'home/how_to' %>

<hr>

<section aria-labelledby="features-demo-heading">
  <div class="container">
    <div class="heading mt-5">
      <h2 id="features-demo-heading">See HabitBuddy in Action</h2>
      <h4 class="text-body">Watch how HabitBuddy works and explore its features!</h4>
    </div>

    <div class="text-center">
      <img src="<%= asset_path 'habitbuddy.gif' %>" alt="Demo of HabitBuddy features" class="img-fluid border-highlight">
    </div>
  </div>
</section>

<hr>

<%= render 'home/testimonials' %>

<section class="contact-me text-center my-5" aria-labelledby="contact-heading">
  <div class="container">
    <h2 id="contact-heading">Contact Me</h2>
    <p>If you have any questions or feedback, feel free to reach out to me!</p>
    <p><strong>Name:</strong> Rebecca Herrera</p>
    <p><strong>Email:</strong> <a href="mailto:rh7@illinois.edu" aria-label="Send an email to Rebecca Herrera">rh7@illinois.edu</a></p>
  </div>
</section>
