<div id="<%= dom_id habit %>">
  <p>
    <strong>Name:</strong>
    <%= habit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= habit.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= habit.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= habit.end_date %>
  </p>

</div>
