<section id="<%= dom_id habit %>" aria-labelledby="<%= dom_id(habit, :name) %>">
  <header>
    <h2 id="<%= dom_id(habit, :name) %>">
      <strong><%= habit.name %></strong>
    </h2>
  </header>

  <p>
    <%= habit.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <time datetime="<%= habit.start_date.iso8601 %>"><%= habit.start_date.strftime("%m-%d-%Y") %></time>
  </p>
</section>

