<div class="container-fluid my-4 d-flex flex-column min-vh-100">
  <div class="row mb-4 flex-grow-1">
    <!-- Habit Card on the left -->
    <div class="col-lg-6 mb-4">
      <div class="card shadow-sm" role="region" aria-labelledby="habit-title">
        <div class="card-body">
          <h2 id="habit-title" class="card-title"><%= @habit.name %></h2>
          <p class="card-text"><%= @habit.description %></p>
          <div class="d-flex flex-column">
            <%= link_to edit_habit_path(@habit), class: 'btn btn-outline-primary mb-2', aria: { label: "Edit habit #{@habit.name}" } do %>
              <i class="fas fa-edit" aria-hidden="true"></i> Edit this habit
            <% end %>

            <div class="d-flex justify-content-between">
              <%= button_to @habit, method: :delete, class: 'btn btn-outline-danger mb-2', aria: { label: "Delete habit #{@habit.name}" } do %>
                <i class="fas fa-trash-alt" aria-hidden="true"></i> Destroy this habit
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card shadow-sm" role="region" aria-labelledby="completion-rate-title">
        <div class="card-body">
          <h2 id="completion-rate-title" class="card-title">Habit Completion Rate</h2>
          <%= pie_chart @completion_rate, colors: ["#78c2ad", "#f3969a"], library: { role: "img", aria: { label: "Pie chart showing the completion rate of the habit" } } %>
        </div>
      </div>
    </div>
  </div>
  <%= render "habits/habit_entries"%>
</div>
