<p style="color: green"><%= notice %></p>

<%= render @habit %>

  <div class="habit-streak">
    <strong>Current Streak:</strong> <%= @habit.current_streak %> days
  </div>

<div>
  <%= link_to "Edit this habit", edit_habit_path(@habit) %> |
  <%= link_to "Back to habits", habits_path %>
  <%= link_to 'New Habit Entry', new_habit_entry_path({ :habit_id => @habit.id }) %>

  <%= button_to "Destroy this habit", @habit, method: :delete %>
</div>

<br>

<%= search_form_for @q, url: habit_path(@habit), method: :get do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :entry_date_eq, "Enter date" %>
    <%= f.text_field :entry_date_eq, :placeholder => "Enter a date" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <%= link_to 'Clear filters', habit_path(@habit) %>

<% end %>

<br>

<h2>Entries</h2>
<ul>
  <% @habit_entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</ul>
