<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>HabitBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(MetaTagService.defaults) %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render partial: "shared/navbar" %>
    </header>

    <main role="main">
      <%= render "shared/flash" %>
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
    </main>

  </body>
</html>
